/* Styles for the list of housetypes */
.housetype-container{
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.housetype-container > div:nth-child(odd) {
    background-color: #f8f9fa;
}
.housetype-row {
    width: 100%;
    min-height: 35px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e4f1fe;
}

.housetype-row-header {
    font-weight: bold;
    font-size: 14px;
    color: #22252c;
    background-color: #cccccc !important;
    border-top: 2px solid #e4f1fe;
    border-bottom: 1px solid #e4f1fe;
}

.housetype-row div:nth-child(1) {
    width: 25%;
    padding-right: 10px;
}

.housetype-row div:nth-child(2) {
    width: 35%;
}

.housetype-row div:nth-child(3) {
    width: 15%
}

.housetype-row div:nth-child(4) {
    width: 25%
}


/* styles for details of a specific course */

.housetype-detail-container {
    display: flex;
    flex-direction: column;
}

.housetype-detail-row {
    border-top: #b7d2ff solid 0px;
    border-bottom: #b7d2ff solid 1px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

.housetype-detail-row div {
    padding: 3px 10px;
}

.housetype-detail-row div:nth-child(1) {
    min-width: 120px;
    text-align: right;
    font-weight: bold;
    border-right: #b7d2ff solid 1px;
}


/* styles for pagination and sorting */
.housetype-pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.housetype-pagination select {
    font-size: small;
}

.housetype-pagination {
    text-align: right;
    font-size: 0.9em;
    margin-right: 20px;
}

.housetype-pagination  a {
    font-size: smaller;
    border-radius: 3px;
    border: 1px solid #e4f1fe;
    min-width: 20px;
    padding: 1px 6px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.housetype-pagination a:hover {
    background-color: #f8f9fa;
}

.housetype-sorting {
    text-align: right;
    font-size: 0.9em;
}

.housetype-pagination select,
.housetype-sorting select {
    font-size: smaller;
}